.status {
  width: 10px;
  height: 10px;
  background-color: #c0392b;
  margin: 8px 10px 0 0;
  display: inline-block;
  border-radius: 50%;
  color: #ffffff;
  &.checked-in {
    background: #2ecc71;
  }
}

ul {
  list-style: none;
}